<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built with so much love by <a target="_blank" href="https://github.com/DavidLineman">David</a>
  </p>

  <br>
  <br>
  <br>
  <hr>

  <p>
    David is eager for you to see random quotes flashed at you in random fashion. 
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'david.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Lineman</h2>
      <br>
      <p>
        David is a Software Engineer with a strong desire to eat cookies everyday. 
      </p>
    </div>
  </div>
</div>

<br class="clear">
<br>
<br>
<br>
<br>